body   {
    background-image: url("http://media.comicbook.com/2017/09/avengers-infinity-war-thanos-infinity-gauntlet-1018561.jpeg");
    background-repeat: no-repeat;
    background-position: top right;
    background-size: cover;
    height: 100%;
}
p   {
    color: orange;
}