body    {
background-image: url("https://wallpaperaccess.com/full/4704.jpg");
background-repeat: no-repeat;
background-position: top right;
background-size: cover;
height: 100%;
}
p   {
color: orange;    
}